//- index.pug
doctype html
|
|
<html lang="ru">
    include includes/main/head.pug
    body
        include includes/main/header.pug
        include includes/main/main.pug
        include includes/main/footer.pug

    include includes/main/modal.pug
|
|
</html>