block variables

header
    if(standart)
        div standart
    else if(modern)
        div modern
        div modern
    else if(modif)
        div modif
        div modif
        div modif
    else 
        div try again